# Python и виртуальное окружение
venv/
__pycache__/
*.pyc

# Временные папки с пользовательскими файлами
uploads/
outputs/

# Логи сервера
server_logs.log

# Фронтенд (Node.js)
frontend/node_modules/
frontend/dist/
frontend/.env
